@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  background-color: #3F3F3f;
  color: #DfDCDA;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.link {
  color: #ffffff;
  transition: 0.2s;
}

.link:hover {
  color: #B8B8B8;
}

.container {
  position: relative;
  padding: 0 1rem;
}

.header {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.graph-container {
  display: flex;
}

.wrapper-list {
  border-right: 2px solid #DfDCDA;
  width: 30%;
  order: 1;
  padding-right: 1rem;
}

.wrapper-graphs {
  width: 70%;
  order: 2;
  padding-left: 2rem;
}

.graphs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.graph {
  width: 49%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.dropdown-menues {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.dropdown-menu-container {
  width: 250px;
  margin-right: 12px;
}

.dropdown-title {

}

.dropdown-menu {

}

#country, #country2, #time, #show, #show2 {
  max-width: 200px;
}

.dropdown {
  color: #3F3F3f;
}

.dropdown-list {
  max-width: 200px;
  margin-bottom: 2rem;
}

.Select-control {
  background-color: #CECECE;
}

/* LARGE AND BELOW */
@media screen and (max-width: 1200px) {
  .header {
    margin-bottom: 3rem;
  }
  .h1 {
    font-size: 2rem;
  }
  .graph-container {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-list {
    width: 100%;
    border-right: 0 solid #DfDCDA;
    border-top: 1px solid #DfDCDA;
    order: 2;
  }

  .list-title {
    text-align: center;
  }

  .dropdown-list {
    margin-bottom: 1rem;
    margin: 0 auto;
  }

  .wrapper-graphs {
    width: 100%;
    padding-left: 0;
    order: 1;
  }
}

/* SMALL AND BELOW */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 1.8rem;
  }
  .graph {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1%;
  }
}
